@import "../../variables";

.faq {
    display: grid;
    grid-template-columns: 352px minmax(50%, 988px);
    margin: 170px 100px 100px 100px;
}

.faq_title {

    & h3 {
        margin: 0;
        font-family: $fontFamily;
        font-size: 80px;
        color: $fontColor;
    }
}

details[open] {
    border-top: 1px solid rgba(230, 210, 210) !important;
}

.faqContent_elem {
    border-top: 1px solid rgba(230, 210, 210, 0.2);

    &:last-child {
        border-bottom: 1px solid rgba(230, 210, 210, 0.2);
    }

    & .faqContent_question {
        padding: 30px 0;
        font-size: 24px;
        list-style-type: none;
        font-family: $fontFamily;
        color: $fontColor;
        cursor: pointer;
    }

    & .faqContent_answer {
        margin-bottom: 30px;
        font-family: $fontFamily;
        font-size: 16px;
        color: $fontColor;
    }
}