@import "../../variables";

$defaultBorder: 1px solid rgba(230, 210, 210, 0.2);
$activeBorder: 1px solid rgba(230, 210, 210) !important;

.faq {
    display: grid;
    grid-template-columns: 352px minmax(50%, 988px);
    margin: 170px $defaultMargin 100px $defaultMargin;
}

.faq_title {
    @include titles($titleColor: $fontColorLight);
    margin: 0;
}

.faqContent_elem {
    border-top: $defaultBorder;

    &[open] {
        border-top: $activeBorder;
    }

    &:last-child {
        border-bottom: $defaultBorder;
    }

    & .faqContent_question {
        @include textSettings($fontSize: 24px, $fontColor: $fontColorLight,  $lineHeight: 20px);
        padding: 30px 0;
        list-style-type: none;
        cursor: pointer;
    }

    & .faqContent_answer {
        @include textSettings($fontSize: 16px, $fontColor: $fontColorLight,  $lineHeight: 20px);
        margin-bottom: 30px;
    }
}

@media all and (max-width: 800px) {
    .faq {
        display: flex;
        flex-direction: column;
        margin: 150px $defaultMargin 80px $defaultMargin;
    }

    .faq_title {
        margin-bottom: 20px;
    }
}