@import "../../variables";

.menu {
    position: relative;
    width: 100%;
    height: calc(70px + 60px + 75px);
    z-index: 2;
}

.menu_nav {
    position: fixed;
    width: 100%;
}

// MAIN MENU
.mainMenu {
    display: grid;
    grid-template-columns: $defaultMargin repeat(2, $defaultMargin) 1fr;
    grid-template-rows: 70px 60px 75px;
    background-color: $bgDark;

    & .logo {
        grid-area: 2/2/3/3;
        height: 49.18px;
        width: 41.67px;
    }

    & .mainMenuContent {
        grid-area: 2/4/3/4;
        display: flex;
        padding: 0;
        margin: 0;
        list-style-type: none;

        & .mainMenuContent_elem {
            @include menuTextSettings($fontSize: 16px, $lineHeight: 24px);
            margin-right: $distanceBetweenChild;
            margin-top: 10px;
            cursor: pointer;

            &:hover {
                text-shadow: 0 1px 10px #ffffff;
            }
        }

        & .mainMenuContent_active {
            background-image: url("../../assets/images/line.png");
            background-position: bottom left;
            background-size: 64px;
            background-repeat: no-repeat;
        }
    }
}

// submenu
.submenu {
    display: grid;
    grid-template-columns: clamp(15px, 5vw, 100px) repeat(2, clamp(15px, 5vw, 100px)) 1fr;
    grid-template-rows: 1fr 95px;
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 100px;
    background-color: $bgDark;
    transition: all .7s ease;
    z-index: -1;
}

.submenu_inactive {
    margin-top: -200px
}

.submenuContent {
    grid-column: 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: $distanceBetweenChild;
    grid-auto-flow: column;
    list-style-type: none;

    & .submenuContent_elem {
        @include menuTextSettings($fontSize: 14px, $lineHeight: 21px);
        cursor: pointer;
    }
}

// MOBILE 
.menuMobileButtons {
    display: none;
}

.menuMobileButtons_open {
    width: 36px;
    height: 24px;
}

.menuMobileButtons_close {
    width: 28px;
    height: 28px;
}

@media all and (max-width: 700px) {
    .menu {
        height: 150px;
    }

    .menu_nav {
        background-color: $bgDark;
    }

    // MAIN MENU
    .menu_nav_components {
        margin: 35px 15px;
    }

    .mainMenuContent_container {
        margin-bottom: 40px;
    }

    .menuMobileButtons {
        display: block;
        position: absolute;
        right: 15px;
        top: 48px;
    }

    .mainMenu {
        display: flex;
    }

    .menuMobileContainer_closed {
        display: none !important;
    }

    .mainMenuContent {
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 97px;
        padding-left: 50px;
        min-height: 100vh;
        width: calc(100% - 129px);
        background-color: $bgDark;
    }

    .mainMenuContent_elem {
        margin-left: 50px;
    }

    .mainMenuContent_active {
        background-image: none !important;
    }

    // SUB MENU
    .submenu {
        position: static;
        display: flex;
        margin: $distanceBetweenChild 82px;
        transition: none;
    }

    .submenuContent {
        display: flex;
        flex-direction: column;
    }

    .submenu_inactive {
        margin-top: 0px
    }
}