@import "../../variables";

.news {
    margin: 0 $defaultMargin 109px $defaultMargin;
}

.newsTitle {
    @include titles($titleColor: $fontColorLight);
    margin: 0 0 30px 0;
}

.newsContent {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;

    & .newsContent_title,
    .newsContent_description {
        font-weight: 500;
        color: $fontColorLight;
        font-family: $fontFamily;
    }

    & .newsContent_title {
        font-size: 16px;
        margin: 30px 0 10px 0;
    }

    & .newsContent_description {
        font-size: 14px;
        line-height: 21px;
        margin: 0;
    }
}

@media all and (max-width: 800px) {
    .newsContent {
        display: flex;
        justify-content: flex-start;
        overflow: auto;
    }

    .newsContent::-webkit-scrollbar {
        width: 1px;
    }

    .newsContent::-webkit-scrollbar-track {
        background: rgb(194, 190, 182);
        border-radius: 10px;
    }

    .newsContent::-webkit-scrollbar-thumb {
        background-color: rgb(0, 0, 0);
        border-radius: 20px;
        border: 3px solid #75FF72;
    }
}