$fontFamily: 'Roboto',
sans-serif;
$fontColorLight: #FFFFFF;
$fontColorDark: #0B0A0D;
$bgDark: #0B0A0D;
$bgLight: #FFFFFF;
$fontSizeTitles: 80px;
$defaultMargin: 100px;

@mixin titles($titleColor) {
    font-size: $fontSizeTitles;
    font-weight: 500;
    line-height: 106%;
    letter-spacing: -0.03em;
    color: $titleColor;
    font-family: $fontFamily;
}

@mixin textSettings($fontSize, $fontColor, $lineHeight) {
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: 400;
    font-family: $fontFamily;
    color: $fontColor;
}

@mixin menuTextSettings($fontSize, $lineHeight) {
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: 500;
    font-family: $fontFamily;
    color: $fontColorLight;
}

@mixin feedbackButtonAndInput {
    box-sizing: border-box;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: $fontColorDark;
    cursor: pointer;
}